version: "3.8"

services:
  app:
    build: .
    container_name: python_app
    command: python app.py
    volumes:
      - appdata:/app 
    environment:
      - GREETING=Hello from Docker Compose
    ports:
      - "5000:5000"

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test_db
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  appdata:
  dbdata:
